

#lec  15 bootstrap  index 2 banaya for backup

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEXTUTILS</title>
</head>
<body>
<!--<h2>HERE IS INDEX.HTML IN TEMPLATE DIRECTORY BY RENDER FUNCTION

    <p>hello everyone my name is {{name}} and i live in {{address}} contact me on {{phonenumber}} </p>


</h2>-->

<h1>ENTER YOUR TEXT</h1>

<form action='/analyzed' method="get">
    <textarea style="margin: 0px; width: 622px; height: 262px;" name="text">

    </textarea>
    <pre>


<button type="submit" >Analyze</button><br><br>   Remove punctuation    <input type="checkbox" name="removepuc">
                                           <br>   Upper case            <input type="checkbox" name="uppercase">
                                           <br>   New line Remover      <input type="checkbox" name="newlineremove">
                                           <br>   Extra Spaces Remover  <input type="checkbox" name="extraspacesremove">
    </pre>

</form>








</body>
</html>